<button mat-button color="primary" [routerLink]="['/header']">Back</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="img_name">
      <th mat-header-cell *matHeaderCellDef> Image Name</th>
      <td mat-cell *matCellDef="let element"> {{element.img_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="img_size">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element"> {{element.img_size}} </td>
    </ng-container>
  
    <ng-container matColumnDef="recognition_result">
      <th mat-header-cell *matHeaderCellDef> Recognition Result </th>
      <td mat-cell *matCellDef="let element"> {{element.recognition_result}} </td>
    </ng-container>
  
    <ng-container matColumnDef="download_link">
      <th mat-header-cell *matHeaderCellDef> Download Link </th>
      <td mat-cell *matCellDef="let element"> <a (click)="goToLink()">Click me</a> </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>