<div class="background">
  <div class="card-holder">
      <div class="card">
          <div>
            <div class="image">
              <img src="https://meetanentrepreneur.lu/wp-content/uploads/2019/08/profil-linkedin.jpg" class="img"/>
            </div>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. pat@example.com"/>
              </mat-form-field>
            </form>

            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password"/>
              </mat-form-field>
            </form>
            <button mat-button color="primary" [routerLink]="['/header']">Login</button>

          </div>
      </div>
  <div>
</div>