.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    visibility: visible;
  }

  .example-full-width {
    width: 100%;
  }

  .card-holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .card{
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 0px 50px 0px 50px;
    box-shadow: 5px 5px 5px #0000004f;
  }

  .card div{
    grid-row: 2/3;
  }

  .background{
    background-image: linear-gradient(to right, #DC2424 , #4A569D);
  }

  .image{
    height: 120px;
    width: 120px;
    background-color: #4A569D;
    border-radius: 100px;
  }

  .img{
    width: 100%;
    height: auto;
    border-radius: 100px;
  }